@import url('https://fonts.googleapis.com/css?family=Arimo');

html{
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Segoe UI Light";
    padding: 0;
    margin-bottom: 100px;
    background: #f5f5f5;
}

.navbar {
    letter-spacing: 1.5px;
    border-color: transparent;
    margin: 0;
}

.navbar-inverse {
    background-color: rgba(28, 43, 75, 1);
}

.navbar-inverse .navbar-toggle {
    border-color: rgb(19, 24, 44);
}

.navbar-inverse .navbar-toggle:hover {
    background-color: rgb(19, 24, 44);
}

.navbar li:hover {
    background-color: rgb(19, 24, 44);
}

.navbar {
    border-radius: 0;
}

.logo-wrapper {
    display: inline-block;
    margin-top: -30px;
    color: #fff;
    font-weight: 100;
    letter-spacing: .6px;
}

.logo-wrapper .logo {
    margin-right: -15px;
    padding-bottom: 3px;
}
.nameOfPage {
    margin-top: 10%;
    position: absolute;
    right: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);

}

@media (max-device-width: 600px) {
.nameOfPage {
    margin-top: 10%;
    position: absolute;
    right: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
}

@media (max-device-width: 600px){
    .nameOfPage {
        font-size: medium;
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
    }
}

h1, h2, h4 {
    text-align: center;
}

h2 {
    margin:30px;
}


#mask {

    position: relative;
    width: 100%;
}

#mask::after {
    background: transparent;
    background: linear-gradient(to bottom, rgba(28, 43, 75, 1) 0%, rgba(0, 0, 0, 0.1) 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.main-text {
    color: #333;
    letter-spacing: .5px;
    text-align: justify;
    line-height: 23px;
}

#left {
    padding: 15px;
}

#right {
    padding-left: 15px;
    padding-top: 10%;
    padding-bottom: 10%;
}

.label {
    width: 94px;
    margin-top: -1px;
    margin-right: 8px;
    display: block;
    float: left;
    font-size: 16px;
    color: #333;
    padding: 0;
}

.text {
    margin-left: 102px;
    display: block;
}

.review-author {
    font-weight: bold;
    font-size: large;
}

.review-date{
    color: #979797;
    font-style: italic;
    font-size: 90%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 90%;
    background-color: rgba(28, 43, 75, 1);
    color: #fff;
    height: 20px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    clear: both;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}


.fadeIn {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    visibility: visible;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.card {
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin-bottom: 25px;
}