@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
    font-family: "Segoe UI Light";
    margin: 0;
    padding: 0;
}

header {
    z-index: 1000;
    display: table;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(28, 43, 75, 1);
}

header nav,
header div {
    display: table-cell;
    vertical-align: middle;
}

.navbar-logo {
    display: inline-block;
    padding-left: 100px;
}

.menu-main {
    width: 100%;
    height: auto;
    margin: 0;
    padding-left: 0;
    float: right;
    text-align: right;
}

.menu-main li {
    display: inline-block;
    padding-top: 20px;
    padding-right: 55px;
    position: relative;
}

.menu-main a {
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    line-height: 50px;
    padding-left: 10px;
    letter-spacing: 2px;
    color: #f3f7e5;
    height: auto;
}

ul.submenu {
    z-index:1000;
    margin-left: -30px;
    display: none;
    width: 150px;
    background-color: rgba(28, 43, 75, 1);
    font-size: 15px;
    position: absolute;
}

ul.submenu > li > a {
    display: block;
    padding: 1px;
    color: white;
    text-decoration: none;

}

li a:hover {
    color: #ffcb4e;
}

ul.submenu > li > a:hover {
    color: #ffcb4e;
}

ul.menu-main > li:hover > ul {
    display: block;
}

h1 {
    position: absolute;
    top: 50%;
    left: 18%;
    color: white;
    text-transform: uppercase;
}

#mask {
    position: relative;
    width: 100%;
}

#mask::after {
    background: transparent;
    background: linear-gradient(to bottom, rgba(28, 43, 75, 1) 0%, rgba(0, 0, 0, 0.1) 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.main {
    margin-top: auto;
    display: block;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 18px;
    text-align: justify;
}

h2 {
    text-align: center;
}

#left{
    padding: 15px;
    float: left;
    width: 50%;
}

#right{
    margin-left: 55%;
    padding-top: 10%;
}

.label {
    width: 94px;
    margin-top: -1px;
    margin-right: 8px;
    display: block;
    float: left;
    font-size: 16px;
    color: #333;
}

.text {
    margin-left: 102px;
    display: block;
}

.right div {
    margin-top: 20px;
    line-height: 18px;
}

footer {
    font-size: 15px;
    display: block;
    background-color: rgba(28, 43, 75, 1);
    color: #fff;
    height: 20px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 4%;
    clear: both;
}